<div class="container-fluid">
    <div class="text-aln-about"></div>
    <div class="section3">
        <div class="text">
            <h1 style="text-align: center;"><strong><u>About</u></strong></h1><br>
            <p>Making an HTML code responsive is no more arduous. With the help of CSS, anyone can fit the content on
                all the devices just as the native requires a proper understanding of the rendering surface. I hope this
                tutorial helps you understand the concept of responsive HTML and areas which are indispensable for
                real-time projects and expertise. Have any questions? Leave it in the comments, we are happy to help.
                Don’t forget to the weekly newsletter for exclusive updates on web development!
                Looking to build a highly responsive web application? Discuss with our technical experts and get your
                requirements met on the time to market.
            </p>
        </div>
    </div>
    <div class="section3">
        <div class="text">
            <p>Making an HTML code responsive is no more arduous. With the help of CSS, anyone can fit the content on
                all the devices just as the native requires a proper understanding of the rendering surface. I hope this
                tutorial helps you understand the concept of responsive HTML and areas which are indispensable for
                real-time projects and expertise. Have any questions? Leave it in the comments, we are happy to help.
                Don’t forget to subscribe to the weekly newsletter for exclusive updates on web development!
                Looking to build a highly responsive web application?
        </div>
    </div>
    <div class="section3">
        <div class="text">
            <p>Making an HTML code responsive is no more arduous. With the help of CSS, anyone can fit the content on
                all the devices just as the native requires a proper understanding of the rendering surface. I hope this
                tutorial helps you understand the concept of responsive HTML and areas which are indispensable for
                real-time projects and expertise. Have any questions? Leave it in the comments, we are happy to help.
                Don’t forget to subscribe to the weekly newsletter for exclusive updates on web development!
                Looking to build a highly responsive web application? Discuss with our technical experts and get your
                requirements met on the time to market.
            </p>
        </div>
    </div>
</div>