<div class="container-fluid hero-img">
    <div class="section1">
        <div class="row">
            <div class="col-md-6 col-sm-6 imgbox-mt">
                <img alt="Person_image"
                    src="https://static.wixstatic.com/media/63764c_c1aa35bdc9b94b64815fbe9cdbd0ee85~mv2.jpg/v1/fill/w_480,h_480,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/n8SsP71_edited.jpg"
                    style="" class="cover-hero-img" align="center">
            </div>
            <div class="col-md-6 text-top-margin text-padding">
                <h1 class="text-hi"><span style="letter-spacing:-0.02em" class="">Hi&nbsp;</span></h1>
                <h4 class="text-intro"><span style="letter-spacing:normal;" class="text-intro-mid">I'm a Web Developer.
                        Click
                        here to
                        add your own text and edit me. I’m a great place for you to tell a story and let your users know
                        a little more about you.</span></h4>
            </div>

        </div>
    </div>
</div>
<app-about></app-about>
<app-project></app-project>
<app-contact></app-contact>