

<section class="section p-5">
    <div class="container-fluid">
        <div class="section-1">
            <div class="text"><h1><strong><u>Contact</u></strong></h1></div>
        </div>
    </div>
    <div class="container">
        <!-- contact form -->

        <form action="" class="form-area rounded-4 shadow bg-body-tertiary">
            <!-- name -->
            
            <div class="filed">
                <label for="" class="label">Name</label>
                <input type="text" name="name" placeholder="Name" class="name-area input rounded">
            </div>

            <!-- email -->
            <div class="filed">
                <label for="" class="label">Email</label>
                <input type="email" name="email" placeholder="Email" class="email-area input rounded">
            </div>

            <!-- message -->
            <div class="filed">
                <label for="" class="label">Message</label>
                <textarea type="textarea" name="textarea" placeholder="Message" class="input message-area rounded"></textarea>
            </div>

            <!-- submit button -->
            <div class="filed">
                <button type="submit" class="btn bg-success text-white shadow rounded">Send</button>

            </div>

        </form>
    </div>
</section>