<div class="container-fluid">
    <div class="section3">
        <div class="text">
            <h1 style="text-align: center;"><strong><u>Project</u></strong></h1><br>

        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 p-5">
        <div class="col">
            <div class="card-body rounded-4 h-100 text-bg-primary shadow bg-body-tertiary">
                <img src="/assets/project_3.png" class="card-img-top" alt="project_4">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card-body rounded-4 h-100 text-bg-warning shadow bg-body-tertiary">
                <img src="/assets/medtech-medicine-store-psd-template_80131-original.jpg" class="card-img-top"
                    alt="project_3">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card-body rounded-4 h-100 text-bg-success shadow bg-body-tertiary">
                <img src="/assets/project_port1.png" class="card-img-top" alt="projet_2">
                <img src="/assets/project_port2.png" class="card-img-top" alt="projet_2">

                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card-body rounded-4 h-100 text-bg-dark shadow bg-body-tertiary">
                <img src="/assets/Project_1.jpg" class="card-img-top" alt="projet_1">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>

    </div>
    <!-- </div>
<div class="section3">
    <div class="row">
        <div class="col">
            <div class="h-100 text-bg-dark">
              <img src="/assets/Project_1.jpg" class="card-img-top" alt="projet_1">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
    </div>
</div> -->