/* .bg-color{
    background-image :url('https://static.wixstatic.com/media/11062b_4b7c9a8e48334d5aad2fd274fddba3bc~mv2.jpg/v1/fill/w_1905,h_843,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_4b7c9a8e48334d5aad2fd274fddba3bc~mv2.jpg');
    background-repeat: no-repeat;
    background-size:cover; 
} */
.container-fluid,.footer-copyright{
    background-image :url('/assets/11062b_4b7c9a8e48334d5aad2fd274fddba3bc~mv2.webp');
    background-repeat: no-repeat;
    background-size:cover;
    object-fit: cover;
    /* height:899px; */
    height: auto;
    width:100%;
    
}

a{
    text-decoration: none;
    font-size: 16px;
    color: rgb(54, 52, 52);
}
/* .page-footer{
    padding: ;
} */